<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>{{ title }} - Computer Science UTEC </title>
	</head>
	<body >
		<div class="container text-center">
			<div class="row justify-content-center">
				<div class="col">CS UTEC:
					<a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('explore') }}">Explore</a>
					{% if current_user.is_anonymous %}
					<a href="{{ url_for('login') }}">LogIn</a>
					{% else %}
					<a href="{{ url_for('user', username=current_user.username) }}">Perfil</a>
					<a href="{{ url_for('cursos') }}" >Cursos</a>
					<a href="{{ url_for('logout') }}">Logout</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
	</body>
</html>
