
{% extends "base.html" %}
{% block content %}
<head>
    <style>
        header{
            background: #646771;
            padding:20px;
            margin-bottom: 20px;
            margin-top: 30px;

    }

        .widgets {
            background:#f2f2f2;
            color:#424242;
            margin-bottom: 20px;

        }
        .widgets > div {
            background:#2196f3;
            color:#fff;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col">
                <h1>Cursos de CS</h1>
            </div>
        </header>
        <section class="row widgets justify-content-around">
            <div class="col-md-4">
                <h4> Cursos del Primer Ciclo  </h4>
                <br>
                <p>Introduccion a la Ciencias de la Computacion </p>
                 <p>   Estructuras Discretas 1</p>

            </div>
            <div class="col-md-4">
                <h4> Cursos del Segundo Ciclo  </h4>
                <br>
                    <p> Estructuras Discretas 2 </p>
                     <p>   Programacion Orientada a Objetos 1  </p>


            </div>
        </section>
         <section class="row widgets justify-content-around">
            <div class="col-md-4">
                <h4> Cursos del Tercer Ciclo  </h4>
                <br>
                <p> Arquitectura de Computadoras</p>
                <p>   Desarrollo Basado en Plataformas </p>
                 <p>   Programacion Orientada a Objetos 2 </p>

            </div>
            <div class="col-md-4">
                <h4> Cursos del Cuarto Ciclo  </h4>
                <br>
                 <p> Teoria de Computacion  </p>
                  <p>   Base de Datos 1 </p>
                <p>  Algoritmos y Estructura de datos </p>
            </div>
        </section>


        <section class="row widgets justify-content-around">
            <div class="col-md-4">
                <h4> Cursos del Quinto Ciclo  </h4>
                <br>
                <p> Analisis y Diseño de Algoritmo</p>
                <p>   Ingeniería de Software </p>
                 <p>  Sistema Operativos </p>
                <p>  Compiladores </p>

            </div>
            <div class="col-md-4">
                <h4> Cursos del Sexto Ciclo  </h4>
                <br>
                 <p> Programacion Competitiva </p>
                  <p> Redes y Comunicaciones </p>
                <p>  Estructura de Datos Avanzadas</p>
                <p>  Sistemas de la Informacion</p>
            </div>
        </section>
          <section class="row widgets justify-content-around">
            <div class="col-md-4">
                <h4> Cursos del Septimo Ciclo  </h4>
                <br>
                <p> Inteligencia Artificial</p>
                <p>  Computación Gráfica </p>
                 <p>  Ingenieria de Software 2 </p>
                <p>Interacción Humano Computador</p>

            </div>
            <div class="col-md-4">
                <h4> Cursos del Octavo Ciclo  </h4>
                <br>
                 <p> Computación Paralela y Distribuida</p>
                  <p> BioInformatica y BioEstadistica</p>
                <p>  Proyecto Final de Carrera 1</p>
            </div>
        </section>
     </div>

</body>
{% endblock %}
