{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <style>
        header.a{
            background: #66c4ab;
            padding:20px;
            margin-bottom: 20px;
            margin-top: 30px;
    }
            header.b{
            background: #64c45b;
            padding:20px;
            margin-bottom: 20px;
            margin-top: 30px;
    }
        header.c{
            background: #bec458;
            padding:20px;
            margin-bottom: 20px;
            margin-top: 30px;
    }
    </style>
</head>
<body>
    <div class="container">
        <header class="row a">
            <div class="col">
                <h4>Malla curricular de la carrera</h4>
                <a href="https://clei2004.spc.org.pe/Peru/CS-UTEC/Plan%202018/">CSUTEC-2018</a>
            </div>
        </header>
        <header class="row b">
            <div class="col">
                <h4>Grupo de programacion competitiva- Miguel Mini</h4>
                <a href=https://github.com/miguelAlessandro/CompetitiveProgramming/tree/master/classes>Competitive Programming UTEC</a>
            </div>
        </header>
        <header class="row c">
            <div class="col">
                <h4>Club de Ciberseguridad UTEC</h4>
                <a href=https://chat.whatsapp.com/ENqwr6U5UHBGoWaMObuZiA>CyberSecurity club</a>
            </div>
        </header>

     </div>
</body>
{% endblock %}